@bg: #e8e8e8;
@fontColor: #333;

.error-page{
  height: 100vh;
  .parent {
    height: inherit;
    position: relative;
    background-color: @bg;

    .child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 28px;
      color: @fontColor;
      div {
        text-align: center;
        margin: 10px 0
      }
      .button-error {
        background-color: #0094ff;
        color: #FEFFFF;
        border: 2px solid #0094ff;
        border-radius: 0px;
        
      }
    }
  }
}


